<body>

<%= render 'shared/nav_bar' %>

<div class="dashboard">

  <section class="steps container px-sm-0 mb-15 mb-sm-120">

    <div class="h2 mt-30 mb-15 px-15">
      The Australian Genomics program
    </div>

    <div class="steps__iframe steps__iframe_left steps__iframe_shadow mx-15">
      <iframe
        width="100%"
        height="100%"
        src=<%= ENV['MCRI_VIDEO_LINK'] %>
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
      <br></br>
      <p class="mb-30">
        Australian Genomics is a national research program which has been funded by the National Health and Medical
        Research Council (NHMRC), to develop strategies to integrate genomic medicine into the Australian health care
        system. This research includes:
      <ul>
        <li>
          Building a national network to establish pathways for diagnosis and research opportunities for individuals
          with rare diseases and cancer
        </li>
        <li>
          Developing infrastructure to manage, analyse and store genomic information
        </li>
        <li>
          Health economics and policy to understand how this new technology will affect individuals from a social and
          financial perspective, and
        </li>
        <li>
          Health professional education and ethics to ensure that patients are given the best care and support when
          undergoing genomic testing
        </li>
      </ul>
      For this testing to be made available on a wider scale, we first have to demonstrate to Government that this
      testing is effective and economically sound. For this project, participants are recruited for genomic testing in
      representative disease areas to provide this evidence to Government.
      Australian Genomics has been established so that in future the Australian health care system and medical research
      networks will be better able to support families such as yours, to achieve a genetic diagnosis, and better manage
      and treat disease.
      </p><br>
    </div>

  </section>

</div>
</body>