<body>
  <%= render 'shared/nav_bar' %>

  <div class="dashboard">
    <section class="steps container px-sm-0 mb-15 mb-sm-120">
      <div class="h2 mt-30 mb-15 px-15">
        <%= t 'dashboard.message_sent.thank_you_for_contacting' %>
      </div>

      <p class="mb-30 mx-15">
        <%= t 'dashboard.message_sent.your_message_sent_to_ctrl' %>
      </p>
    </section>
  </div>
</body>
