<body class="bg-dark">


<div class="container my-15 my-sm-45">
  <div class="row flex-column">
    <div class="steps__submitting col-12 mx-auto">
      <div class="bg-ice-one border px-20">
        <div class="mt-20">

          <div class="d-flex">
            <i class="icon__check-big mx-auto"></i>
          </div>

          <h3 class="text-center mt-20 mb-15">
            You have agreed to have the genomics test
          </h3>
          <div class="d-flex mb-20">
            <p class="step2__text text-center mx-auto mb-0">
              If you don’t want the test please review your
              answers.
            </p>
          </div>

          <div class="d-sm-flex flex-sm-row-reverse justify-content-center">
            <%= link_to('Confirm', step_three_path, class: "btn btn-success d-block d-sm-inline-block mb-15") %>
            <%= link_to('Review Answers', step_two_path, class: "btn btn-outline-success d-block d-sm-inline-block mb-15 mr-sm-15") %>
          </div>

          <p class="subtext mb-20 mb-sm-30">
                        <span>
                            Please click “Confirm” if you are sure
                            you would like the genomics test.
                        </span>
            <br>
            <span>
                            Please click “Review Answers” if you
                            would like to go back and change your
                            responses.
                        </span>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
</body>