<header id="header" class="header header_steps position-relative bg-ice-one">
  <div class="container">
    <div class="row px-15">
      <div class="header__logo-wrapper col-12 d-flex">
        <a
        href="/"
        class="header__logo d-block mt-45 mx-auto ml-xl-0"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
      <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
        <div class="header__progress-wrapper mx-auto">
          <div class="mb-2">Step 5 of 5</div>
          <div class="header__progress header__progress_step5"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= form_tag(class: "bg-ice-one border pt-30 px-30") do %>
        <h3 class="text-center mt-2 mb-15">
          Preferences for sharing of my genetic sample
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description text-center mx-auto mb-0">
            To begin with, though you might
            use search engines, you must not
            pick the first site that you come
            across.
          </p>
        </div>
        <div class="steps__general text-center py-2 mb-30">
          General
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                Question 1 xxxx
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow1"
              aria-expanded="false"
              aria-controls="stepsRow1"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_red ml-sm-15">
                <input
                type="radio"
                name="radioRow1"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                type="radio"
                name="radioRow1"
                checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow1"
          >
            <div>
              Every new computer that’s brought
              home from the store has an operating
              system installed onto it. But what
              most new computer users don’t realize,
              is that without an operating system,
              that computer would be a simple shell
              of possibilities. A powered computer
              lacking an operating system wouldn’t
              display anything more than a bunch
              of confusing text messages that
              describe the computer’s boot process.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                Question 2 xxxx
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow2"
              aria-expanded="false"
              aria-controls="stepsRow2"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_red ml-sm-15">
                <input
                type="radio"
                name="radioRow2"
                checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                type="radio"
                name="radioRow2"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow2"
          >
            <div>
              Every new computer that’s brought
              home from the store has an operating
              system installed onto it. But what
              most new computer users don’t realize,
              is that without an operating system,
              that computer would be a simple shell
              of possibilities. A powered computer
              lacking an operating system wouldn’t
              display anything more than a bunch
              of confusing text messages that
              describe the computer’s boot process.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                Question 3 xxxx
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow3"
              aria-expanded="false"
              aria-controls="stepsRow3"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_red ml-sm-15">
                <input
                type="radio"
                name="radioRow3"
                checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                type="radio"
                name="radioRow3"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow3"
          >
            <div>
              Every new computer that’s brought
              home from the store has an operating
              system installed onto it. But what
              most new computer users don’t realize,
              is that without an operating system,
              that computer would be a simple shell
              of possibilities. A powered computer
              lacking an operating system wouldn’t
              display anything more than a bunch
              of confusing text messages that
              describe the computer’s boot process.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                Question 4 xxxx
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow4"
              aria-expanded="false"
              aria-controls="stepsRow4"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_red ml-sm-15">
                <input
                type="radio"
                name="radioRow4"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                type="radio"
                name="radioRow4"
                checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow4"
          >
            <div>
              Every new computer that’s brought
              home from the store has an operating
              system installed onto it. But what
              most new computer users don’t realize,
              is that without an operating system,
              that computer would be a simple shell
              of possibilities. A powered computer
              lacking an operating system wouldn’t
              display anything more than a bunch
              of confusing text messages that
              describe the computer’s boot process.
            </div>
          </div>
        </div>


        <div class="row flex-md-row">
          <div class="col-12 col-md-3 order-0 d-flex my-15 my-md-30">
            <%= link_to('Back', step_four_path, class: "btn btn-outline-success mx-auto ml-md-0") %>
          </div>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= link_to('Save and Exit', dashboard_index_path, class: "steps__btn-save btn btn-primary mx-auto") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
