<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    First Name
  </div>
  <div class="col-6">
    John
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Middle Name
  </div>
  <div class="col-6">
    Jaremy
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Family Name
  </div>
  <div class="col-6">
    Smith
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Date of Birth
  </div>
  <div class="col-6">
    12 Mar 2001
  </div>
</div>
