<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>First Name</b>
  </div>
  <div class="col-6">
    <%= current_user.child_first_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Middle Name</b>
  </div>
  <div class="col-6">
    <%= current_user.child_middle_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Family Name</b>
  </div>
  <div class="col-6">
    <%= current_user.child_family_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Date of Birth</b>
  </div>
  <div class="col-6">
    <%= current_user.child_dob%>
  </div>
</div>
