<div class="container my-15 my-sm-180">
  <div class="row flex-column">
    <div class="col-12 col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="bg-ice-one border px-15">
        <%= render partial: 'layouts/header-modal' %>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, defaults: {input_html: {class: 'form-control mb-0 pr-60'}}) do |f| %>
          <p class="text-center mt-60">
            Please enter the email address you registered with to receive a link to reset your password.
          </p>
          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :email, required: true, autofocus: true, placeholder: "Email", error: "Invalid E-mail" %>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <%= link_to "Back", new_session_path(User), class: "btn btn-outline-primary mb-30" %>
            <button
            type="submit"
            class="btn btn-primary mb-30"
            >
              Send Request
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
