<body class="bg-white">
  <header id="header" class="header">
    <div class="container d-flex">
      <a href="/" class="header__logo d-block mt-45 mx-auto ml-md-0">
        <%= image_tag "/application/logo.png", alt: t(:logo), class: "h-100" %>
      </a>
    </div>
  </header>
  <div class="landing-page">
    <div class="container mt-120">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-8 col-xl-8 mt-5 mb-5">
          <span class="landing-page__text mt-45 text-dark-purple">
            <h2>
              <%= t 'welcome_page.consent_to_participating' %>
            </h2>
          </span>
          <div class="mt-45">
            <%= link_to t('welcome_page.register_now'), new_registration_path(User.new), class: "btn btn-success mr-4" %>
            <%= link_to t(:log_in), new_session_path(User), class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page__bg"></div>
  </div>
</body>
