.btn
    border-radius: 999px
    padding: 8px 24px

    &.btn-success,
    &.btn-success:active,
    &.btn-outline-success:hover
        color: $white !important

.btn-block-xs-down
    @include media-breakpoint-down(xs)
        width: 100%
.btn-block-sm-down
    @include media-breakpoint-down(sm)
        width: 100%

.update
    margin: auto
    display: table

.blue-btn-true
    color: white
    border-color: #0fa7ca
    background-color: #0fa7ca

.blue-btn:hover, .blue-btn-true:hover
    background-color: #0fa7ca
    border-color: #0fa7ca

.blue-btn
    color: #0fa7ca
    border-color: #0fa7ca