$component: 'icon'

.#{$component}

    +element('i')
        position: relative
        width: 24px
        height: 24px
        padding: 0 11px
        color: $teal
        border-radius: 999px
        border: 1px solid $teal
        cursor: pointer
        +modifier(':after')
            content: 'i'
            font-style: normal
            position: absolute
            top: 0
            bottom: 0
            left: 42%
            right: 0

    +element('check')
        position: relative
        display: block
        height: 83px
        width: 83px
        background-color: $green
        border-radius: 999px
        border: solid 1px $green
        text-align: center
        cursor: pointer
        +modifier(':after')
            content: ""
            position: absolute
            left: 30px
            top: 12px
            width: 26px
            height: 43px
            border: solid #fff
            border-width: 0 3px 3px 0
            transform: rotate(40deg)

    +element('warn')
        position: relative
        display: block
        height: 83px
        width: 83px
        background-color: $teal
        border-radius: 999px
        border: solid 1px $teal
        text-align: center
        +modifier(':before')
            content: ""
            position: absolute
            left: 37px
            top: calc(12px + 8px)
            width: 9px
            height: 28px
            background-color: $white
        +modifier(':after')
            content: ""
            position: absolute
            left: 37px
            top: calc(45px + 8px)
            width: 9px
            height: 9px
            background-color: $white

    +element('num')
        display: flex
        align-items: center
        justify-content: center
        width: 27px
        height: 27px
        border-radius: 99px
        font-size: 18px
        font-style: normal
        color: $ice-blue
        +modifier('done')
            background-color: $teal
            border: solid 3px
            border-color: #D2ECF8
        +modifier('active')
            background-color: $light-blue
            border: solid 3px $teal
        +modifier('disabled')
            background-color: $teal
            border: solid 3px $teal
