Hello <%= @resource.first_name %>,

<p>We received a request to change your password for the AGHA Dynamic Consent website. Use the link below to set a new password for your account:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not make this request please ignore this email.</p>
<p>Your password won't change unless you access the link above and create a new one.</p>