<header id="header" class="header">
  <div class="container d-flex">
    <a href="/" class="header__logo d-block mt-45 mx-auto">
      <%= image_tag "logo@3x.png", alt: "logo", class: "h-100" %>
    </a>
  </div>
</header>